.card-img-top {
  border-radius: 50%;
  width: 80px;
}

.card-img-profile {
  border-radius: 50%;
  width: 150px;
}

.card-contact {
  max-height: 250px;
}

.container {
  background-color: #eeeeee;
}

.nav-item2 {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.line-2 {
  border-top: 1px solid rgb(157, 149, 149);
}

.navbar-brand1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  font-size: 25px;
}

.navbar-brand2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f59f9f;
  font-size: 30px;
}

.navbar-color {
  background-color: #f7d2d2;
  border-radius: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: bold;
  margin-top: 20px;
  color: #504b4b;
}

h3,
h4 {
  color: #504b4b;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

.card {
  max-width: 400px;
  min-width: 100px;
  min-height: 120px;
  border-radius: 30px;
}

.card-body {
  margin-left: 10px;
}

.btn-contacts {
  color: #504b4b;
  border-style: none;
  font-size: 25px;
  margin-bottom: 10px;
}

.btn-contact-posts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #504b4b;
  margin-left: 30px;
}

.btn-contact-wall {
  margin-top: 0px;
  color: rgb(5, 85, 223);
}

.col-z {
  position: absolute;
  background-color: white;
  border-radius: 15px;
}

.profileimg-z {
  border-radius: 50%;
  width: 80px;
  z-index: 2;
  right: 10px;
  top: 2px;
}

.card-z {
  z-index: 1;
  background-color: white;
}

.img-ross {
  max-width: 100%;
  border-radius: 10%;
  margin-top: 10px;
}
