.card-img-top {
  border-radius: 50%;
  width: 80px;
}

.container {
  background-color: #e4dfdf;
}

.nav-item2 {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.line-2 {
  border-top: 1px solid rgb(157, 149, 149);
}
