$background-colour: #bfbfbf;

$navbar-colour: #f59f9f;

#container {
  background: $background-colour;
}

:root {
  --background-color: #bfbfbf;
  --icon-color: #e182f2;
  --logo-color: #f59f9f;
  --white: #ffffff;
  --dark-grey: #3b3636;
  --black: #000000;
  --nav-bar: #ebe1e1;
}
