.btn-post {
<<<<<<< Updated upstream
  color: $navbar-colour;
=======
  color: $navbar-color;
>>>>>>> Stashed changes
  font-size: 18px;
}

.btn-contacts {
  color: $darkgrey;
  font-size: 20px;
  border: hidden;
}

.btn-contact-posts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px solid;
  color: $navbrand2;
}
